.theme {
  width: 1200px;
  margin: 1em auto 0;
  display: flex;
  justify-content: space-between;
}

.theme-buttons div {
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: 15px;
  border-radius: 50%;
}

.mode .dark,
.mode .light {
  cursor: pointer;
}

.theme .no-display {
  display: none;
}

.mode .dark:hover,
.mode .light:hover {
  filter: invert(.5)
}